* {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    color: rgb(57, 89, 86);
}


/* HEADER */
.Header {
    /* size */
    width: 100%;
    height: 50px;
    /* arrangement */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    /* decoration */
    box-shadow: 2px -5px 20px rgb(215, 215, 215);
    background-color: rgb(59, 175, 164);
}

.Header__Logo {
    /* size */
    font-size: 1.1rem;
    font-weight: 400;
    width: 30px;
    height: 30px;
    /* arrangement */
    position: relative;
    /* decoration */
    background-color: white;
    border-radius: 7px;
}

.Header__Logo--tlat {
    position: absolute;
    left: 3px;
    top: 2px;
    font-style: italic;
    color: rgb(59, 175, 164);
}

.Header__Logo--slash {
    position: absolute;
    top: 1px;
    right: 5.5px;
    font-size: 1.2rem;
    color: rgb(59, 175, 164);
}

.Header__Logo--tgeo {
    position: absolute;
    right: 3px;
    bottom: 2px;
    font-style: italic;
    color: rgb(59, 175, 164);
}

.Header__Title {
    /* size */
    font-size: 1.1rem;
    font-weight: 600;
    /* decoration */
    color: white;
}


/* INPUT WINDOW */
.InputWindow {
    width: 100%;
}

.InputWindow__Subtitle {
    font-size: 1.3rem;
    font-weight: 500;
    padding-left: 10px;
}

.InputWindow__Input {
    height: 200px;
    width: 100%;
    padding: 5px 7px 5px 7px;
    font-size: 1.5rem;
}


/* OUTPUT WINDOW */
.OutputWindow {
    margin-top: 2rem;
    border: 1px solid black;
    width: 100%;
}

.OutputWindow__Subtitle {
    font-size: 1.3rem;
    font-weight: 500;
    padding-left: 10px;
}

.OutputWindow__Display {
    border: 1px solid black;
    width: 100%;
    padding: 5px 7px 40px 7px;
    max-height: 200px;
    font-size: 1.5rem;
    position: relative;
}

.OutputWindow__CopyDiv {
    position: absolute;
    bottom: 0.3rem;
    right: 0.4rem;
    display: flex;
    gap: 0.2rem;
    align-items: center;
    font-size: 1.2rem;
    opacity: 0.8;
    padding: 0.3rem 0.5rem;
    background-color: rgb(233, 248, 246);
    border-radius: 13px;
}

.OutputWindow__CopyIcon {
    height: 1.4rem;
}